@use "./variables&mixins.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $Light-grayish-cyan;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

main {
  padding-top: 163px;
  min-height: 1024px;
  height: 100vh;

  .logo {
    display: block;
    margin: 0 auto 87.86px;
  }
}

form {
  width: 920px;
  height: 481px;
  margin: auto;
  background-color: $White;
  border-radius: 25px;
  box-shadow: 0px 32px 43px 0px hsla(186, 38%, 50%, 0.2);
  display: flex;
}

/*******************
**** Input Data ****
********************/

.input-data {
  width: 475px;
  padding: 45px 48px 48px;

  //Bill

  .bill {
    height: 78px;
    position: relative;

    h1 {
      @include input-heading;
      margin-bottom: 6px;
    }

    input {
      @include number-input;
    }

    .dollar {
      position: absolute;
      left: 19.26px;
      bottom: 15.67px;
    }
  }

  //Tip

  .tip {
    margin: 40px 0;
    height: 152px;

    h2 {
      @include input-heading;
      margin-bottom: 16px;
    }

    &__grid {
      height: 112px;
      display: grid;
      grid-template-columns: repeat(3, 117.17px);
      grid-template-rows: repeat(2, 48px);
      gap: 16px 14px;

      button {
        border-radius: 5px;
        background: $Very-dark-cyan;
        color: $White;
        text-align: center;
        font-family: "Space Mono", monospace;
        font-size: 24px;
        border: none;
        cursor: pointer;
        transition: 0.5s;

        &:hover,
        &:active {
          background: #9fe8df;
          color: $Very-dark-cyan;
        }

        &.green {
          color: $Very-dark-cyan;
          background: #26c2ae;
        }
      }

      input {
        @include number-input;
        width: 117.17px;
        height: 48px;
        padding: 6px 15px 6px 14px;

        &::placeholder {
          color: hsla(180, 18%, 40%, 1);
        }
      }
    }
  }

  //People

  .people {
    height: 78px;
    position: relative;

    .headings {
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;

      h2 {
        @include input-heading;
      }

      h2:nth-child(2) {
        text-align: right;
        color: #e17457;
        display: none;

        &.red {
          display: block;
        }
      }
    }

    input {
      @include number-input;

      &.red {
        border: 2px solid #e17052;
        caret-color: #e17052;
      }
    }

    .group {
      position: absolute;
      left: 17px;
      bottom: 16px;
    }
  }
}

/***************
**** Result ****
****************/

.result {
  width: 445px;
  height: 100%;
  padding: 32px 32px 32px 0;

  .container {
    height: 100%;
    background-color: $Very-dark-cyan;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      display: flex;
      flex-direction: column;
      gap: 25px;

      & > div {
        @include result-div;
      }
    }

    .buttons {
      display: flex;
      gap: 25px;

      button {
        display: block;
        height: 48px;
        width: calc(50% - 12.5px);
        border-radius: 5px;
        background: #0d686d;
        border: none;
        color: #00474b;
        text-align: center;
        font-size: 20px;
        font-family: "Space Mono", monospace;
        font-weight: 700;
        cursor: pointer;
        transition: 0.5s;

        &:hover,
        &:active {
          background: #9fe8df;
        }

        &:focus {
          background-color: $Strong-cyan;
        }
      }
    }
  }
}

/*************************
*** Mobile and tablet ****
*************************/
@media (width<950px) {
  main {
    padding-top: 50px;
    min-height: 933px;

    .logo {
      margin: 0 auto 40.86px;
    }
  }

  form {
    width: 100%;
    // height: calc(100vh - 145px);
    // max-height: 789px;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    height: 789px;
    box-shadow: 0px 32px 43px 0px hsla(186, 38%, 50%, 0.2);
    border-radius: 25px 25px 0px 0px;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
    display: block;
  }

  .input-data {
    width: 100%;
    padding: 0;

    .tip {
      margin: 32px 0;
      min-height: 152px;
      max-height: 216px;

      &__grid {
        display: flex;
        flex-wrap: wrap;
        height: 176px;
        row-gap: 16px;
        column-gap: 16.56px;

        button,
        input {
          width: calc(50% - 8.28px);
          height: 48px;
        }

        input {
          &::placeholder {
            text-align: center;
          }
        }
      }
    }
  }

  .result {
    width: 100%;
    height: 257px;
    padding: 0;
  }
}

/*
.result {
  width: 445px;
  height: 100%;

  .container {
    height: 100%;
    background-color: $Very-dark-cyan;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      display: flex;
      flex-direction: column;
      gap: 25px;

      & > div {
        @include result-div;
      }
    }

    .buttons {
      display: flex;
      gap: 25px;

      button {
        display: block;
        height: 48px;
        width: calc(50% - 12.5px);
        border-radius: 5px;
        background: #0d686d;
        border: none;
        color: #00474b;
        text-align: center;
        font-size: 20px;
        font-family: "Space Mono", monospace;
        font-weight: 700;
        cursor: pointer;
        transition: 0.5s;

        &:hover,
        &:active {
          background: #9fe8df;
        }

        &:focus {
          background-color: $Strong-cyan;
        }
      }
    }
  }
}
*/
