@use "./variables&mixins.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $Light-grayish-cyan;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
}

main {
  padding-top: 163px;

  .logo {
    display: block;
    margin: 0 auto 87.86px;
  }
}

form {
  width: 920px;
  height: 481px;
  margin: auto;
  background-color: $White;
  border-radius: 25px;
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
  display: flex;
}

/*******************
**** Input Data ****
*******************/

.input-data {
  width: 475px;
  padding: 45px 48px 48px;

  .bill {
    height: 78px;
    position: relative;

    h1 {
      color: $Dark-grayish-cyan;
      font-size: 16px;
      margin-bottom: 6px;
    }

    input {
      @include number-input;
    }

    .dollar {
      position: absolute;
      left: 19.26px;
      bottom: 15.67px;
    }
  }
}
