//Primary color:
$Strong-cyan: #26c0ab;

//Neutral colors:
$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Very-light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

//Mixins

@mixin input-heading {
  color: $Dark-grayish-cyan;
  font-size: 16px;
}

@mixin number-input {
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background: $Very-light-grayish-cyan;
  border: none;
  outline: none;
  text-align: right;
  padding: 6px 17px;
  color: $Very-dark-cyan;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.1s;
  caret-color: $Strong-cyan;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;

  &::placeholder {
    font-family: "Space Mono", monospace;
    color: hsl(184, 19%, 68%);
  }

  &:hover,
  &:active,
  &:focus {
    border: 2px solid $Strong-cyan;
  }
}

@mixin result-div {
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    height: 44px;

    h3 {
      color: $White;
      font-size: 16px;
    }

    span {
      display: block;
      color: $Grayish-cyan;
      font-size: 13px;
    }
  }

  & > span {
    display: block;
    color: $Strong-cyan;
    text-align: right;
    font-size: 48px;
    letter-spacing: -1px;
  }
}
